<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>copy_kerning.py</string>
			<key>preferredName</key>
			<string>Copy Kerning</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Rob Mientjes</string>
	<key>developerURL</key>
	<string>http://tinytype.co</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>Copy Kerning</string>
	<key>timeStamp</key>
	<real>1605050000.000000</real>
	<key>version</key>
	<string>1.0</string>
	<key>com.robofontmechanic.Mechanic</key>
        <dict>
	    <key>repository</key>
	    <string>rbmntjs/copyKerning</string>
	    <key>summary</key>
            <string>Copies the kerning and groups from one open font to one or more open fonts. Pretty much directly cloned from Typefounding/copyGlyphs, by Ben Kiel.</string>
        </dict>
</dict>
</plist>
